@import "../../../commons/styles/utils.scss";

.modalBody {
  @include flex-container(column, center, flex-start, nowrap, 2rem);

  width: 100%;

  .card {
    @include flex-container(column, center, flex-start, nowrap, 2rem);
    width: 100%;

    .cardBody {
      @include flex-container(column, flex-start, flex-start, nowrap, 1rem);

      width: 100%;

      .label {
        opacity: 0.7;
      }
    }

    .ratings {
      @include flex-container(column, center, flex-start, nowrap, 1rem);

      .rating {
        padding: 0.5rem 1rem;
      }
    }

    .boxOffice {
      color: green;
    }
  }
}
