@import "../../../commons/styles/utils.scss";

$card-height: 35rem;
$card-width: 25rem;

.loading {
  @include flex-container(row, center, center, wrap, 2rem);

  .skeleton {
    width: $card-width;
    height: $card-height;
    border-radius: 1rem;
  }
}

.list {
  @include flex-container(row, center, flex-start, wrap, 2rem);

  .card {
    cursor: pointer;
    width: $card-width;
    height: $card-height;

    .title {
      @extend %ellipsis;
    }

    .body {
      @include flex-container(row, center, center, wrap, 1rem);

      .poster {
        height: calc(#{$card-height} - 10rem);
        width: calc(#{$card-width} - 5rem);
        border-radius: 1rem;
      }
    }

    .footer {
      @include flex-container(row, space-between, center, wrap, 1rem);

      .item {
        @include flex-container(row, center, center, wrap, 0.5rem);

        text-transform: capitalize;
      }
    }

    &:hover {
      .poster {
        transform: scale(1.1);
        border-radius: 0;
        transition: transform 0.5s;
      }
    }
  }
}
